#!/usr/bin/make -f

export DEB_BUILD_HARDENING=1

configure: configure-stamp


configure-stamp: 
	dh_testdir
	dh_auto_configure
	touch configure-stamp

build: build-stamp

build-stamp: configure-stamp
	dh_testdir
	dh_auto_build
	touch $@

clean: 
	dh_testdir
	dh_testroot
	rm -f build-stamp configure-stamp
	rm -f tmux *.o .depend *~ *.core *.log compat/*.o
	rm -f config.h config.mk
	dh_auto_clean
	dh_clean 

install: build
	dh_testdir
	dh_testroot
	dh_prep
	dh_installdirs
	#$(MAKE) DESTDIR=$(CURDIR)/debian/tmux install
	dh_auto_install
	# lintian override for sgid 
	install -m 755 -d $(CURDIR)/debian/tmux/usr/share/lintian/overrides
	install -m 644  debian/tmux.lintian.overrides $(CURDIR)/debian/tmux/usr/share/lintian/overrides/tmux

binary-indep: build install

binary-arch: build install
	dh_testdir
	dh_testroot
	dh_installchangelogs CHANGES
	dh_installdocs
	dh_installexamples
	dh_installman
	dh_installinit --no-start --init-script='tmux-cleanup' --update-rcd-params='start 70 S .'
	dh_link
	dh_strip
	dh_compress
	dh_fixperms -X/usr/bin/tmux
	dh_installdeb
	dh_shlibdeps
	dh_gencontrol
	dh_md5sums
	dh_builddeb

binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary install configure
